<section class="home-message">
	<div class="container">

		<div class="hero-text">
			<h2>Your only way to score, share, and<br>compare antlers online.</h2>
		</div>

		<div class="site-features">
			<div class="row">
				<div class="span6 site-feature">
					<h3>Create an Online Collection</h3>
					<p>Create a personal collection that allows you to keep track of all your sheds, kills and hunting experiences - through - out your life - together in one place.</p>
				</div>

				<div class="span6 site-feature">
					<h3>Score Your Antlers</h3>
					<p>Input basic measurements and instantly get your B&amp;C Net and B&amp;C Gross scores. Also get an Elusive score that awards your animal the credit it truly deserves.</p>
				</div>
			</div>

			<div class="row">
				<div class="span6 site-feature">
					<h3>View Your Record Book</h3>
					<p>Access collection facts and figures. What's your average main beam size? What's your friends average? Who's buck has the biggest G2's among buddies? Discover the uniqueness of each antler.</p>
				</div>

				<div class="span6 site-feature">
					<h3>Brag about It</h3>
					<p>You're in complete control of who sees whats in your collection. Just you, you and your buddies, a few people from work - it's your call. Share pieces of your collection across social networks or via email or personal invitation.</p>
				</div>
			</div>
		</div>

		<div class="call-to-action">
			<%= link_to "Plans and Pricing", new_user_registration_path, :class => "btn btn-success btn-large" %>
		</div>

	</div>
</section>

<section class="app-interface">
	<div class="container">
		<div class="app-image">
		</div>
	</div>
</section>