<% title "Cogratulations, you're on the list." %>
<section class="share">
	<div class="container">
		<div class="share-message">
			<h2 class="share-title">Congratulations, you're on the list.</h2>

			<h3>Support Elusive in 3 steps</h3>
		</div>


		<div class="share-section">
			<div class="row">
				<div class="span4">
					<div class="share-item facebook">
						<h4>1. Share on Facebook:</h4>
						<p>Share Elusive with your friends</p>
						<div class="share-button">
							<a href="http://facebook.com/sharer.php?u=http://www.elusiveindex.com" onclick="window.open(this.href, 'targetWindow', 'toolbar=no, location=no, status=sno, menubar=no, scrollbars=yes, resizable=yes, width=600,height=400');return false;" class="ss-icon">facebook</a>
						</div>
					</div>
				</div>

				<div class="span4">
					<div class="share-item twitter">
						<h4>2. Post on Twitter:</h4>
						<p>Hook up your following.</p>
						<div class="share-button">
							<a href="https://twitter.com/intent/tweet?text=%40elusiveindex+The+only+way+to+score%2C+share%2C+and+compare+your+antlers+online.&url=http%3A%2F%2Fwww.elusiveindex.com&hashtags=elusiveindex" onclick="window.open(this.href, 'targetWindow', 'toolbar=no, location=no, status=sno, menubar=no, scrollbars=yes, resizable=yes, width=600,height=400');return false;" class="ss-icon">twitter</a>
						</div>
					</div>
				</div>

				<div class="span4">
					<div class="share-item instagram">
						<h4>3. Tag @muledeerdaily on Insta:</h4>
						<p>Use a good #muley photo</p>
						<div class="share-button">
							<a href="#" class="ss-icon">instagram</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="thank-you">
			<p><strong>Thanks so much,</strong><br>The Elusive Crew</p>
		</div>

	</div>
</section>