<% title "Well that's too bad." %>
<section class="mule-deer">
	<div class="container">
		<div class="row">
			<div class="offset5 span7">

				<h2>Well, that's too bad. <div class="clock pull-right"><span class="min">5</span>:<span class="sec">00</span></div></h2>

				<h3>Why?</h3>
				<p>You haven't confirmed your email address by clicking the link in your inbox.</p>
				<p>Not in your inbox? Don't forget to check your junk mail.</p>
				<p>If you don't confirm your email address we can't let you know when the Elusive Index is ready for you.</p>
				<p>So go to your email and click the confirmation link we just sent you. That way you can sit back, relax, and we'll let you know when it's ready.</p>
				<p>Thanks,</p>
				<p>- The Elusive Crew</p>

			</div>
		</div>
	</div>
</section>